<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head><title>Nova Escala</title></head>

<body>
<section layout:fragment="conteudo">
  <div class="card shadow-sm col-md-6 mx-auto mt-5">
    <div class="card-header bg-warning text-dark">
      <h4 class="mb-0">Agendar Escala</h4>
    </div>
    <div class="card-body">

      <form th:action="@{/ui/escalas/salvar}" method="post" th:object="${escalaDTO}">

        <div class="mb-3">
          <label class="form-label">Funcionário</label>
          <select class="form-select" th:field="*{funcionarioId}" required>
            <option value="" selected>Selecione um funcionário...</option>

            <option th:each="func : ${listaFuncionarios}"
                    th:value="${func.id}"
                    th:text="|${func.nome} - ${func.cargo}|">
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Turno</label>
          <select class="form-select" th:field="*{turnoId}" required>
            <option value="" selected>Selecione um turno...</option>

            <option th:each="turno : ${listaTurnos}"
                    th:value="${turno.id}"
                    th:text="|${turno.nome} (${turno.horaInicio} - ${turno.horaFim})|">
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Data da Escala</label>
          <input type="date" class="form-control" th:field="*{data}" required>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-warning">Agendar</button>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>